#convo-container {
    display: grid;
}

.user-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(auto, 90%) minmax(auto, 10%);
    column-gap: 10px;
    max-width: 45%;
    justify-self: right;
}

.user-text {
    align-content: center;
    background-color: #2f2f2f;
    margin-top: 5%;
    border-radius: 25px;
    padding: 0.5rem;
}

.system-container {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: minmax(auto, 10%) minmax(auto, 90%);
    column-gap: 10px;
    max-width: 45%;
    justify-self: left;
    position: relative;
}

.system-text {
    align-content: center;
    background-color: #2f2f2f;
    margin-top: 0.9rem;
    border-radius: 25px;
    padding: 0.5rem;
    grid-column: 2;
}

.model-used {
    color: gray;
    background-color: transparent;
    text-wrap: nowrap;
    font-size: 0.8rem;
    grid-column: 2;
    align-self: end;
    padding-left: 0.5em;
    position: relative;
    top: 5px;
}