#popup-container {
    position: fixed;
    display: flex;
    height: 102%;
    width: 105%;
    align-items: center;
    justify-content: center;
    z-index: 4;
    transform: translate(-2.5%, -1%);
    backdrop-filter: brightness(0.5);
}

#popup {
    background-color: #2f2f2f;
    border-radius: 10px;
    padding: 3%;
    font-family: "Inter", sans-serif;
    margin: 5%;
}

#popup>h1 {
    font-size: 1.5rem;
    margin: auto auto 10% auto
}

#popup-btn-container {
    display: flex;
    width: 100%;
    column-gap: 10%;
    justify-content: center;
}

.popup-btn {
    width: 100%;
    font-weight: bold;
    border: 3px solid hsla(0, 0%, 100%, .15);
    border-radius: 25px;
    transition: all .15s ease-in-out;
    font-size: 1rem;
    padding: 10px;
    background-color: transparent;
    color: azure;
    max-width: 250px;
}

.popup-btn:hover {
    transform: scale(1.01);
    background-color: #424242;
}

#clear-popup-btn {
    background-color: #dc3545;
    border-color: #dc3545;
}

#clear-popup-btn:hover {
    color: black
}