[contenteditable][data-placeholder]:empty::before {
    content: attr(data-placeholder);
    position: absolute;
    color: gray;
    background-color: transparent;
    font-size: 0.9rem;
    align-self: center;
    font-weight: 500;
    bottom: 0;
    height: 100%;
    align-content: center;
}

#chatbar-container {
    align-self: center;
    margin-top: auto;
    width: 95%;

}

#chatbar {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 6px;
    border-radius: 26px;
    transition: background-color 0.3s;
    background-color: white;
    max-height: 200px;
    background-color: #2f2f2f;
}

#chatbar-idk {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    padding-left: 16px;
    height: 100%;
    flex-direction: row;
    overflow-y: auto;
    position: relative;
    max-height: inherit;
}

#chatbar-textarea {
    min-height: 1.7rem;
    overflow-y: auto;
    flex: 1;
    width: 100%;
    max-height: inherit;
}

#chatbar-textarea:focus-visible {
    outline: none;
}

#chatbar-btn-container {
    min-width: 32px;
    vertical-align: top;
}

#chatbar-btn {
    margin: 8px;
    display: flex;
    height: 32px;
    width: 32px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: black;
    color: white;
}

#chatbar-btn>svg {
    width: 100%;
}

@media(max-width:1024px) {
    #chatbar-container {
        width: 100%;
    }
}