#backdrop {
    height: 102%;
    width: 105%;
    transform: translate(-2.5%, -1%);
    backdrop-filter: brightness(0.5);
    align-content: center;
}

#dropdown-container {
    display: flex;
    justify-content: center;
}
