:root {
    font-size: clamp(1rem, .9rem + .5vw, 2rem);
}

html,
body,
#root {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    background-color: #1e1e1e;
    color: azure;
    font-family: "Inter", sans-serif;

}

#root {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 98%;
    transform: translate(2.5%, 1%);
    align-self: center;
    row-gap: 5vh;
    min-width: 300px;
}